// ____________________Обнуляющий стиль_______________________________
@import url(/css/Null.css);
// _________________________Шрифты____________________________________
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// __________________________Текст____________________________________
html, body {
   font-family: 'Roboto', sans-serif;
	font-size: 18px;
   line-height: 1;
   font-weight: 400;
	color: black;
}

.img-adaptiv {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}



// __________________________Тело_____________________________________

.wrapper {
   min-height: 100%;
   overflow: hidden;

   //_________________Прибить футер к низу_________________
   // display: flex;
   // flex-direction: column;
}

.header {

   &__container {
   }
}

.container {
   // //_________________Ширина контейнера_________________
   // max-width: 1200px;

   // //_____________________По центру_____________________
   // margin: 0 auto;

   // //_____________________Отступ безопасности_____________________
   // padding: 0px 15px;
   // box-sizing: content-box;
}




//_________________________________________Header_________________________________________





.header {
   // //_____________________Наезжает на фон_____________________
   // position: absolute;
   // width: 100%;
   // top: 0;
   // left: 0;
   // z-index: 50;

   &__container {
      // display: flex;
      // min-height: 100px;
      // align-items: center;
   }

   &__logo {
   }

   &__menu {
   }
}

.logo {

   &__img {
   }
}
.menu {

   &__list {
      // _____________________Адаптивный отступ у эл. 1 круга вниз, кроме посл._____________________
      // >*:not(:last-child){
      //    margin: 0px 0px 50px 0px;
      // }
   }

   &__item {
   }

   &__link {
      // line-height: calc(([размер интервала]/[размер шрифта])*100%);
   }
}




//______________________________________Page______________________________________

.page {
   // // Прибить футер к низу
   // flex: 1 1 auto;

   &__main {
   }

   &__container {
   }
}
//______________________________________Footer______________________________________
.footer {
}
